<% if @absence.type == 'CompensatoryLeave' %>
  <%= f.select :redeeming_days, options_for_select(Absence.available_rest_days, @absence.redeeming_days), { on: { wrapper_id: true } }, multiple: true %>
<% else %>
  <div id="absence_redeeming_days_wrapper"></div>
<% end %>