<div class="tabs">
  <ul>
    <li><%= link_to 'My Holiday Application', my_absences_path, class: active_helper('my_my/absences': ['index']) %></li>
    <li><%= link_to 'My Dashboard', dashboard_my_absences_path, class: active_helper('my_my/absences': ['dashboard']) %></li>
    <li><%= link_to 'Group Holiday Application', my_admin_absences_path, class: active_helper('my_admin/absences': ['my']) %></li>
  </ul>
</div>

