<div class="ui top attached borderless menu">
  <%= link_to 'Work Overtime', my_overtimes_path, class: active_helper('my_my/overtimes': ['index']) %>
  <%= link_to 'Group Work Overtime', my_admin_overtimes_path, class: active_helper('my_admin/overtimes': ['my']) %>
  <div class="right menu">
    <div class="item"><%= link_to 'New Overtime', new_my_overtime_path, class: 'ui teal button' %></div>
  </div>
</div>
