<%= search_form_with model: Overtime.new do |f| %>
  <div class="fields">
    <%= f.date_field 'start_at-gte', placeholder: 'Start At' %>
    <%= f.date_field 'finish_at-lte', placeholder: 'Finish At' %>
    <%= f.submit %>
  </div>
<% end %>
