<%= form_with theme: 'search', model: Attend::Attendance.new do |f| %>
  <div class="field-body">
    <%= f.date_field 'attend_on-gte' %>
    <%= f.date_field 'attend_on-lte' %>
    <div class="field is-narrow">
      <%= f.submit %>
    </div>
  </div>
<% end %>
