<%= form_with theme: 'search', model: Overtime.new do |f| %>
  <div class="field-body">
    <%= f.date_field 'start_at-gte' %>
    <%= f.date_field 'finish_at-lte' %>
    <div class="field is-narrow">
      <%= f.submit %>
    </div>
  </div>
<% end %>
