<div class="ui segment breadcrumb">
  <%= link_to 'Back', admin_absences_path, class: 'section' %>
  <div class="divider"> / </div>
  <div class="active section">Edit</div>
</div>

<div class="ui segment">
  <%= form_with model: @absence, scope: :absence, url: admin_absence_path, local: true do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
  <% end %>
</div>
