<div class="tabs">
  <ul>
    <li><%= link_to 'Attendance Setting', my_attendance_settings_path, class: active_helper(controllers: 'my_my/attendance_settings') %></li>
    <li><%= link_to 'Group Attendance Settings', my_admin_attendance_settings_path, class: active_helper('my_admin/attendance_settings': ['my']) %></li>
  </ul>
</div>
