<%= link_to({ action: 'new' }, class: 'button is-link is-small') do %>
  <i class="fa-light fa-plus"></i><span><%= t('.new') %></span>
<% end %>
<%= link_to 'confirm', check_admin_attendance_settings_path, id: 'checked_attendance_setting', method: 'post', class: 'ui mini secondary button' %>
