<%= form_with theme: 'search', model: Attend::AttendanceSetting.new do |f| %>
  <div class="field-body">
    <%= f.text_field 'member.name' %>
    <%= f.text_field 'member.email' %>
    <div class="field is-narrow">
      <%= f.submit %>
    </div>
  </div>
<% end %>


