<div class="tabs">
  <ul>
    <li><%= link_to 'Work Overtime', my_overtimes_path, class: active_helper('my_my/overtimes': ['index']) %></li>
    <li><%= link_to 'Group Work Overtime', my_admin_overtimes_path, class: active_helper('my_admin/overtimes': ['my']) %></li>
  </ul>
</div>
