<%= form_with theme: 'search', model: AbsenceStat.new do |f| %>
  <div class="field-body">
    <%= f.text_field 'member.name' %>
    <%= f.text_field :year %>
    <div class="field is-narrow">
      <%= f.submit %>
    </div>
  </div>
<% end %>


