<div class="ui top attached menu borderless">
  <%= link_to 'My Holiday Application', my_absences_path, class: active_helper('my_my/absences': ['index']) %>
  <%= link_to 'My Dashboard', dashboard_my_absences_path, class: active_helper('my_my/absences': ['dashboard']) %>
  <%= link_to 'Group Holiday Application', my_admin_absences_path, class: active_helper('my_admin/absences': ['my']) %>
  <div class="right menu">
    <div class="item"><%= link_to 'New', new_my_absence_path, class: 'button is-link is-small' %></div>
  </div>
</div>

